body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
      max-width: 100%;
      max-height: 960px;
  }
    
  .bottom { 
      background-color: #564f4c; 
      color: #ffffff;
      background-color: #564f4c;
      color: #ffffff;
      width: 100%;
      bottom: 0;
      position: fixed;
  }
      
  .container-fluid {
      padding-top:30px;
      padding-bottom:30px;
  }
      
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      background-color:#848484;
      letter-spacing: 5px;  
  }

.select {
    margin:15px ;
    color: black;
    font-size: 15px;
    
}
      
      .typeofhm {
          background: url("https://i.imgur.com/r5DIpXN.png");
          background-size: cover;
          background-repeat: no-repeat;
          max-height: 300px;
          text-align: center;
          color: #fff;
          text-shadow: 1px 1px 3px #ddd;
          padding: 40% 10%;
          font-family: 'Pacifico', cursive;
      }
      
            .typeofm {
          background: url("https://i.imgur.com/K9zxd2P.png");
          background-size: cover;
          background-repeat: no-repeat;
          max-height: 300px;
          text-align: center;
          color: #fff;
          text-shadow: 1px 1px 3px #ddd;
          padding: 40% 10%;
          font-family: 'Pacifico', cursive;
      }
            
            .typeoft {
          background: url("https://i.imgur.com/gQstRZB.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          max-height: 300px;
          text-align: center;
          color: #fff;
          text-shadow: 1px 1px 3px #ddd;
          padding: 40% 10%;
          font-family: 'Pacifico', cursive;
      }
#ic{
    margin-top:1%;
}
.sig .input-group-addon{
    background: white !important; 
}
.sig .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.sig button{
    border:0;
    background:transparent;
}